<div class="container">
  <h2>Accounts</h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Id</div>
      <div class="col col-2">Account Name</div>
      <div class="col col-3">Balance</div>
      <div class="col col-4">Actions</div>
    </li>
    <li class="table-row" *ngFor="let account of accounts">
      <div class="col col-1" data-label="Id">{{ account.id }}</div>
      <div class="col col-2" data-label="Account Name">{{ account.name }}</div>
      <div class="col col-3" data-label="Balance">${{ account.balance }}</div>
      <div class="col col-4" data-label="Actions"><button class="btn btn-secondary button actions  me-1" (click)="openFormModal(account.id)">Para Yatır</button><button
        class="btn btn-secondary actions button " (click)="openFormModal2(account.id)">Para Çek</button></div>
    </li>
  </ul>
</div>
<!-- Para Yatır -->
<div class="modal fade" id="paraYatır" tabindex="-1" aria-labelledby="paraYatırLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paraYatırLabel">Para Yatır</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="para-yatır">Yatırılacak miktarı giriniz:</label>
        <input [(ngModel)]="yatirilacakMiktar" class="form-control mt-1" type="number">
        <p class="text-danger" *ngIf="errorMessage">{{errorMessage}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn button btn-success" (click)="yatir()">Yatır</button>
      </div>
    </div>
  </div>
</div>
 <!-- Para Çek -->
<div class="modal fade" id="paraCek" tabindex="-1" aria-labelledby="paraCekLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="paraCekLabel">Para Çek</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <label for="para-cek">Çekilecek miktarı giriniz:</label>
      <input [(ngModel)]="cekilecekMiktar" class="form-control mt-1" type="number">
      <p class="text-danger" *ngIf="errorMessage">{{errorMessage}}</p>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn button btn-danger" (click)="cek()">Çek</button>
    </div>
  </div>
</div>
</div>